@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500,700,900');

html; body{
	margin: 0; padding: 0;
	background-color: lightblue;
	font-family: 'Lato';
	margin: auto;
}

.inner{
	width: 80%;
	margin: auto;
}

h1{
	margin: 20 20px;
}

title{
	margin: 50 50px;
}